
.grid{
    max-width: 1195px;
    max-height: 442px;
    box-sizing: border-box;
    position: relative;
}

.grid__itens{
    width: calc( (100% - 8px) / 2);
    display: grid;
    grid-template-columns: repeat(8, 2fr);
    grid-template-rows:auto;
    grid-gap: 7px;
   
    margin: 47px 50px 95px;
    
}

.grid__item{
    max-width: 284px;
    max-height: 213px;
}
